
@model XeroNetStandardApp.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (!Model.IsConnected)
    {
        <p>No Xero organisation connected.</p>
        <p>
            <button onclick="location.href='@Url.Action("Index", "Authorization")'">
                Connect to Xero
            </button>
        </p>
    }
    else
    {
        <h5>Your Xero Organisations</h5>
        @if (Model.Tenants.Count == 0)
        {
            <p>No organisations connected.</p>
        }
        else
        {
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Organisation</th>
                        <th>Tenant Id</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tenant in Model.Tenants)
                    {
                        <tr>
                            <td>@tenant.OrgName</td>
                            <td>@tenant.TenantId</td>
                            <td>
                                <a class="btn btn-primary btn-sm"
                                   asp-controller="Authorization"
                                   asp-action="Index">Reauthorise</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm"
                                   asp-controller="Authorization"
                                   asp-action="Disconnect"
                                   asp-route-tenantId="@tenant.TenantId">Disconnect</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <section style="margin-left: 10px">
            <p>
                <button onclick="location.href='@Url.Action("Index", "IdentityInfo")'">Manual Data Load</button>
            </p>
        </section>
    }
